# Copyright (c) 2024 Marko Vejnovic
# SPDX-License-Identifier: Apache-2.0
menu "Li-Cor Trisonica Mini"
config LICOR_TRISONICA_MINI
    bool "Enable Licor Trisonica Mini Driver"
    depends on UART_INTERRUPT_DRIVEN

if LICOR_TRISONICA_MINI

module = LICOR_TRISONICA_MINI
module-str = My uart peripheral
source "subsys/logging/Kconfig.template.log_config"

endif # LICOR_TRISONICA_MINI
