/*
 * Copyright (c) 2024 Marko Vejnovic
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f412Xg.dtsi>
#include <st/f4/stm32f412r(e-g)tx-pinctrl.dtsi>

/ {
    model = "Biologger Logger Board";
    compatible = "markovejnovic,biologger";

	chosen {
		zephyr,console = &usart3;
		zephyr,shell-uart = &usart3;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

    leds: leds {
        compatible = "gpio-leds";

        status_led {
            gpios = <&gpiob 10 GPIO_ACTIVE_LOW>;
            label = "Status LED";
        };

        warning_led {
            gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;
            label = "Warning LED";
        };
    };
};

&clk_lsi {
    status = "okay";
};

&clk_hse {
	/delete-property/ hse-bypass;
	clock-frequency = <DT_FREQ_M(25)>; // External 25MHz clock.
	status = "okay";
};

&clk_lse {
    /delete-property/ lse-bypass;
    clock-frequency = <32768>; // External 32.768kHz clock.
    status = "okay";
};

&pll {
	div-m = <25>;
	mul-n = <384>;
	div-p = <4>;
	div-q = <8>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(96)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&iwdg {
    status = "okay";
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart6 {
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";

    trisonica: li_550 {
        compatible = "licor,li_550";
        status = "okay";
    };
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pc10 &usart3_rx_pc11>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};
