/*
 * Copyright (c) 2024 Marko Vejnovic
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f412Xg.dtsi>

/ {
    model = "Biologger Logger Board";
    compatible = "markovejnovic,biologger";
};

&clk_lsi {
    status = "okay";
};

&clk_hse {
	/delete-property/ hse-bypass;
	clock-frequency = <DT_FREQ_M(25)>; // External 25MHz clock.
	status = "okay";
};

&clk_lse {
    /delete-property/ lse-bypass;
    clock-frequency = <32768>; // External 32.768kHz clock.
    status = "okay";
};

&pll {
	div-m = <25>;
	mul-n = <384>;
	div-p = <4>;
	div-q = <8>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(96)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <2>;
	apb2-prescaler = <1>;
};

&iwdg {
    status = "okay";
};
