# SPDX-License-Identifier: Apache-2.0
# Specifies which features this board depends on. You likely don't need to edit
# it.

CONFIG_BOARD_OTHER_BIOLOGGER=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

CONFIG_SERIAL=y

# enable GPIO
CONFIG_GPIO=y

# Enable Clocks
CONFIG_CLOCK_CONTROL=y

# enable pin controller
CONFIG_PINCTRL=y

#CONFIG_GNSS=y
#CONFIG_GNSS_NMEA_GENERIC=y

CONFIG_LED=y
CONFIG_LED_GPIO=y
