# Copyright (c) 2024 Marko Vejnovic
# SPDX-License-Identifier: Apache-2.0
# This file tells Zephyr what feature flags this board supports.
# https://martinfowler.com/articles/feature-toggles.html
# You likely do not need to edit this for basic functionality.

config BOARD_OTHER_BIOLOGGER
        bool "Enable the biologger board."
        select SOC_STM32F412RX
